# Ignore build and install artifacts
build/
install/
log/

# Colcon cache and other local files
.venv/
.venv3/
.deps/
colcon_ws/

# Git and editor metadata
.git
.gitignore
.vscode/
*.swp
*~

# Large files and temporary
*.pcd
*.bag
*.bag.*
frames_*.gv
frames_*.pdf

# Python cache
__pycache__/
*.pyc

# Node / other
node_modules/

# Ignore system files
.DS_Store
